<div class="row no-gutters">
<h2>
  Shopping Cart
</h2>
</div>
<div class="row no-gutters">
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{cart.count}} items in your Shopping Cart</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.cartItems" >
        <td>{{item.product.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price * item.quantity  | currency:'INR':'symbol'}}</td>

      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>{{cart.sum | currency:'INR':'symbol'}}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>
</div>